vendor/
.env
etc/nginx.conf

## Reference from SugarCRM github + update for our paths
##  https://github.com/github/gitignore/blob/master/SugarCRM.gitignore
##  https://github.com/sugarcrm/sugarcrm_dev/blob/master/.gitignore

# Ignore custom .htaccess stuff.
#crm/.htaccess

# Ignore large parts of the annoying cache directory without breaking things.
#crm/cache/csv/*
#crm/cache/dashlets/*
#crm/cache/diagnostic/*
#crm/cache/dynamic_fields/*
#crm/cache/feeds/*
#crm/cache/import/*
#crm/cache/include/*
#crm/cache/jsLanguage/*
#crm/cache/modules/*
#!crm/cache/modules/emails
#!crm/cache/modules/Emails
#crm/cache/pdf/*
#crm/cache/smarty/cache/*
#crm/cache/smarty/templates_c/*
#crm/cache/themes/*
#crm/cache/xml/*
crm/cache/*

# Ignore some files and directories from the custom directory.
crm/custom/history/*
crm/custom/modulebuilder/*
crm/custom/working/*
crm/custom/modules/*/Ext/
crm/custom/application/Ext/*

# Custom configuration should also be ignored.
#crm/config.php
#crm/config_override.php

# The silent upgrade scripts aren't needed.
crm/silentUpgrade*.php
# Logs files can safely be ignored.
crm/*.log
# The new upload directories (since 6.4).
crm//upload/*
!crm/upload/upgrades
!crm/upload/upgrades/*
crm/upload_backup/*

## IDE specific items
# Eclipse
.buildpath
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# Emacs
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
.elc
auto-save-list
tramp
# IntelliJ Idea
*.iml
*.ipr
*.iws
.idea/
# NetBeans
nbproject/
# Vim
.*.sw[a-z]
*.un~
Session.vim
# Windows
Thumbs.db
Desktop.ini

## Qobo
# ZuckerReports
#crm/custom/ZuckerReports2/archive/*
# qobo folder
crm/qobo/test/*
crm/qobo/public/*
crm/qobo/config/config.ini
crm/qobo/scripts/config.sh
#crmqobo/scripts/backup_configrecords.sh
crm/qobo/extension/ProspectLists/dynamicTargetLists_config.php
*.qbini
